<div role="alert" class="alert flex justify-between alert-info bg-blue-200 my-10">
    <div>
      <h3 class="font-bold"><%= avviso.titolo %></h3>
      <p class="text-s py-1"><%= avviso.descrizione %></p>
      <p class="text-xs"><%= avviso.data.toLocaleDateString() %></p>
    </div>
    <% if (admin) { %>
      <button onclick="deleteAvviso(<%= avviso.id %>)">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>
      </button>
      <script>
        let deleteAvviso = function(id) {
          const dati = {
            id: id
          }
          var xhr = new XMLHttpRequest();
          xhr.open('POST', '<%=host%>/delete-avviso');
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.send(JSON.stringify(dati));

          location.reload();
        }
      </script>
    <% } %>
</div>