<!DOCTYPE html>
<html lang="en" data-theme="lofi">

<head>
  <%- include('../partials/head', {title: "Avvisi Admin"}) %>
</head>

<body>
  <%- include('../partials/back') %>
  <div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <form action="/add-avviso" method="post" class="grid my-10 p-4 border-solid border-2 border-primary rounded-lg justify-items-center">
          <h1 class="text-lg font-bold">Aggiungi un nuovo avviso</h1>
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Titolo</span>
            </div>
            <input type="text" name="titolo" placeholder="Titolo" class="input input-bordered w-full max-w-xs" required/>
          </label>
          <label class="form-control w-full max-w-xs">
            <div class="label">
              <span class="label-text">Descrizione</span>
            </div>
            <input type="text" name="descrizione" placeholder="Descrizione" class="input input-bordered w-full max-w-xs" required/>
          </label>
          <button class="btn mt-3" type="submit">Invia</button>
        </form>
        <h1 class="text-3xl font-bold">Avvisi</h1>
        <div class="max-w-md">
          <% avvisi.forEach( avviso => { %>
          <%- include('../partials/avviso', {avviso: avviso, admin: true}) %>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/navbar') %>
  <script>
    let deleteAvviso = function(id) {
      const dati = {
        id: id
      }
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '<%=host%>/delete-avviso');
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify(dati));

      const avviso = document.getElementById("avviso-" + id);
      avviso.parentNode.removeChild(avviso);
    }
    let updatePreferito = function(id) {
      const dati = {
        id: id,
        preferito: document.getElementById(`preferito-${id}`).checked
      }
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '<%=host%>/update-avviso-preferito');
      xhr.setRequestHeader("Content-Type", "application/json");
      xhr.send(JSON.stringify(dati));
    }
  </script>
</body>

</html>