<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: materia.abbreviazione}) %>
</head>

<body>
  <div class="block">
    <div class="bg-base-200" style="height: 5vh;"><button onclick="history.back()" class="btn btn-ghost absolute top-2 left-2"><svg class="fill-blue-500" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
          <path d="m313-440 224 224-57 56-320-320 320-320 57 56-224 224h487v80H313Z" />
        </svg></button></div>

    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">

        <div class="max-w-md">
          <h1 class="text-3xl font-bold"><%= materia.nome %></h1>

          <br>

          <div class="overflow-x-auto">
            <table class="table">
              <!-- head -->
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Cognome</th>
                </tr>
              </thead>
              <tbody>
                <% for (studente of ordine) {%>
                <% if (!studente.interrogato) { %>
                <tr>
                  <th><%=studente.nome%></th>
                  <th><%=studente.cognome%></th>
                </tr>
                <% } %>
                <% } %>
              </tbody>
            </table>
          </div>
          <br>
          <br>
          <br>
          <%- include('../partials/navbar') %>
        </div>
      </div>
    </div>
  </div>

</body>

</html>